<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Weather Forecast</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/4.1.3/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css" />

</head>
<body>

<div class="container">
    <div class="starter-template">
        <h1></h1>
        <h2>
            <span th:text="Welcome"></span>
        </h2>
    </div>
</div>
<!-- /.container -->

</body>
</html>