<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Weather Forecast</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div class="">
        <h2>Welcome!</h2>
        <p>Better weather was yesterday.</p>
        <p>But you can still check out next five days!</p>
        <p>Just choose one of your favorite cities.</p>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Locations <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/forecast/london">London</a></li>
                <li><a href="/forecast/new york">New York</a></li>
                <li><a href="/forecast/washington">Washington</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- /.container -->

</body>
</html>